@{
}
@model Student
<style>

    form {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }s

    .form-group {
        margin: 20px;
        padding: 5px;
    }

</style>

<div style="text-align: center">
<h1>Add a New Student</h1>
</div>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="AddStudent" asp-controller="Student" 
method="post">

    <div class="form-group">
        <label asp-for="Id" hidden></label>
        <input asp-for="Id" class="form-control"
         id="FirstName" hidden>
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" 
        id="FirstName" placeholder="Enter First Name">
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" 
        id="LastName" placeholder="Enter Last Name">
    </div>
    <div class="form-group">
        <label asp-for="Course"></label>
        <select asp-for="Course" asp-items="@Html.GetEnumSelectList(typeof(Course))"
        class="form-control" id="Course" placeholder="Choose Course"></select>
    </div>
    <div class="form-group">
        <label asp-for="AdmissionDate"></label>
        <input asp-for="AdmissionDate" class="form-control" 
        id="AdmissionDate" placeholder="Enter Admission Date">
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" 
        id="Email" placeholder="Enter University Email">
    </div>
    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control"
        id="Phone" placeholder="Enter Telephone Number">
    </div>
    <br/>

    <div style="text-align: center;">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>