@{
}
@model Student
<style>

    form {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin: 20px;
        padding: 5px;
    }

</style>

<div style="text-align: center">
    <h1>Are you sure you want to delete?</h1>
</div>

<form asp-action="DeleteStudent" asp-controller="Student"
method="post">

    <div class="form-group">
        <label asp-for="Id" hidden>Student Id</label>
        <input asp-for="Id" class="form-control"
         id="FirstName" placeholder="Enter Student Id" hidden>
    </div>
    <div class="form-group">
        <label asp-for="FirstName" readonly>First Name</label>
        <input asp-for="FirstName" class="form-control" 
        id="FirstName" placeholder="Enter First Name" readonly>
    </div>
    <div class="form-group">
        <label asp-for="LastName" readonly>Last Name</label>
        <input asp-for="LastName" class="form-control" 
        id="LastName" placeholder="Enter Last Name" readonly>
    </div>
    <div class="form-group">
        <label asp-for="Course" disable>Course</label>
        <select asp-for="Course" asp-items="@Html.GetEnumSelectList(typeof(Course))"
        class="form-control" id="Course" placeholder="Choose Course" disable></select>
    </div>
    <div class="form-group">
        <label asp-for="AdmissionDate" readonly>Admission Date</label>
        <input asp-for="AdmissionDate" class="form-control" 
        id="AdmissionDate" placeholder="Enter Admission Date" readonly>
    </div>
    <div class="form-group">
        <label asp-for="Email" readonly>Enter University Email</label>
        <input asp-for="Email" class="form-control" 
        id="Email" placeholder="Enter University Email" readonly>
    </div>

    <br/>

    <div style="text-align: center;">
    <button type="submit" class="btn btn-primary">Delete</button>
    <button type="button" onclick="history.back()"  class="btn btn-primary">Cancel</button>
    </div>
</form>