@{
}
@model Student
<style>

    form {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }s

    .form-group {
        margin: 20px;
        padding: 5px;
    }

</style>

<div style="text-align: center">
<h1>Update Student</h1>
</div>

<form asp-action="UpdateStudent" asp-controller="Student" 
method="post">

    <div class="form-group">
        <label asp-for="Id" hidden>Student Id</label>
        <input asp-for="Id" class="form-control"
         id="FirstName" placeholder="Enter Student Id" hidden>
    </div>
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" 
        id="FirstName" placeholder="Enter First Name">
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" 
        id="LastName" placeholder="Enter Last Name">
    </div>
    <div class="form-group">
        <label asp-for="Course">Course</label>
        <select asp-for="Course" asp-items="@Html.GetEnumSelectList(typeof(Course))"
        class="form-control" id="Course" placeholder="Choose Course"></select>
    </div>
    <div class="form-group">
        <label asp-for="AdmissionDate">Admission Date</label>
        <input asp-for="AdmissionDate" class="form-control" 
        id="AdmissionDate" placeholder="Enter Admission Date">
    </div>
    <div class="form-group">
        <label asp-for="Email">Enter University Email</label>
        <input asp-for="Email" class="form-control" 
        id="Email" placeholder="Enter University Email">
    </div>

    <br/>

    <div style="text-align: center;">
    <button type="submit" class="btn btn-primary">Sync</button>
    <button type="button" onclick="history.back()"  class="btn btn-primary">Cancel</button>
    </div>
</form>